#ignore config folders
.*

#ignore build
dist/*

#ignore packages
node_modules/*

#ignore models excepts residence
models/*
!/models/residence.vim

# This locks in development chain dependencies which is not appropriate. 
package-lock.json
