#ignore config folders
.*
!.eslintignore
!.eslintrc.cjs
!.eslintrc.json
!.prettierrc.json

#ignore build
dist/*

#ignore packages
node_modules/*

#ignore models
models/*

# This locks in development chain dependencies which is not appropriate. 
package-lock.json
